.sectionbg {
  background-image: var(--bg-image), url(/bgoverlay-ld.png);
  height: 70vh;
  margin-top: 1.6rem;
}

.leftColumn {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textWrapper {
  width: 40rem;
  height: 20rem;
}

.text {
  font-size: 5.6rem;
  letter-spacing: 2px;
  text-align: left;
}

.para {
  font-style: italic;
}
